body{
    background-image: radial-gradient(circle at top right, white,#1b222b);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
}

